@import "landing";
@import "album";
@import "collection";
@import "player_bar";
@import "profile";
@import "buttons";

@mixin linear-gradient($colorOne, $colorTwo) {
  background: -webkit-linear-gradient(to bottom, $colorOne, $colorTwo);
  background: linear-gradient(to bottom, $colorOne, $colorTwo);
}

html {
  height: 100%;
}

body {
  font-family: 'Open Sans';
  color: white;
  min-height: 100%;
  @include linear-gradient(#2b1339, #380c77);
  padding-bottom: 150px;
}

body.landing {
  background: $background-purple;
  padding-bottom: 0px;
}

body.landing .navbar {
  margin-bottom: 0;
}

/* medium-purple: #7B46A3 - 123, 70, 163 */
 
.player-header-nav {
  background-color: rgba(123, 70, 163, .9);
  .navbar-nav {
    a {
      line-height: 45px;
      color: white;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 1.2;
 
      &:hover {
         color: rgba(123, 70, 163, .9);
      }
    }
  }
}